NEXT_PUBLIC_TATUM_API_KEY=your_tatum_api_key_here
NEXT_PUBLIC_SUI_NETWORK=mainnet
NEXT_PUBLIC_TATUM_SUI_RPC=https://sui-mainnet.gateway.tatum.io
NEXT_PUBLIC_WALRUS_NETWORK=mainnet
NEXT_PUBLIC_ESCROW_PACKAGE_ID=
NEXT_PUBLIC_PLATFORM_ID=
NEXT_PUBLIC_NAUTILUS_ENCLAVE_ID=
